<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>

    <script type="text/javascript" language="Javascript" 
	        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
	</script>	

	<script language="javascript" type="text/javascript">
 
    $( document ).ready(function() {
		$('status').text('ready');

        $( '#btnTest').click(function( event ) {
			var name = "rene";
			$('status').text('sending ...');
            $.get("/x", "name=" + name, function (data,status,xhr) {
                // write the text coming fromt he server into 
				$("#status").text(status);
                $("#serverText").text(data);
            });


        });
    });
 
    </script>

</head>
<body>

<h3>Your bookmarks</h3>
<ui>
    {% for doc in docs %}
    <li><a href="{{doc.url}}">{{doc['name']}}</a></li>
    {% endfor %}
</ul>

<h3>Rene Server TEST</h3>

    <form name="f" action="/save" method="post">
        Name:<input name="name" type="text" id="urlname" value="{{defaultname}}"><br>
        URL:<input name="url" type="text" id="url" value="{{defaulturl}}">
        <input type="submit">
    </form>
	<Button id="btnTest">Save to server</Button>

    <div id="status" style="color:blue;margin-top:20px">Reply from the Server:</div>

	Server:<div id="serverText"></div>

</body>
</html>


